.employee-table {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.employee-table-row {
    display: flex;
    width: 100%;
}

.employee-table-elem {
    display: flex;
    align-items: center;
    min-width: 200px;
    width: 20%;
    min-height: 30px;
    padding: 5px;

    border-top: 1px solid;
    border-right: 1px solid;
    box-sizing: border-box;

    transition: .3s ease;
}

.employee-table-elem.employee-table-elem--bold {
    font-weight: 700;
}

.employee-table-elem.employee-table-elem--sort {
    cursor: pointer;
    user-select: none;
}

.employee-table-elem.employee-table-elem--sort:hover {
    background-color: #dddddd;
}

.employee-table-elem:first-of-type {
    border-left: 1px solid;
}

.employee-table-row:last-of-type .employee-table-elem {
    border-bottom: 1px solid;
}

.employee-table-elem span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.employee-table-elem-sort {
    margin-left: 5px;
}

.employee-table-elem-sort img {
    display: none;
}

.employee-table-elem-sort.employee-table-elem-sort--asc img,
.employee-table-elem-sort.employee-table-elem-sort--desc img {
    display: block;
}

.employee-table-elem-sort.employee-table-elem-sort--asc img {
    transform: rotateZ(180deg);
}

.employee-table-elem-link {
    text-decoration: underline;
    cursor: pointer;
    user-select: none;
}